<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>developer-id</string>
	<key>signingCertificate</key>
	<string>24B2B40F85AA777D273F4FCE6B02625B6DBC7FA0</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>CAG2W9M777</string>
</dict>
</plist>
